[submodule "rake4j"]
	path = rake4j
	url = git@github.com:zhangdanyangg/rake4j.git
[submodule "commons-util"]
	path = commons-util
	url = git@github.com:zhangdanyangg/commons-util.git
[submodule "km-web/src/main/webapp/commons-util-js"]
	path = km-web/src/main/webapp/commons-util-js
	url = git@github.com:zhangdanyangg/commons-util-js.git
