<!DOCTYPE html>
<html ng-app="km_v3">
<head>
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap-yeti.css" />
    <link rel="stylesheet" type="text/css" href="/bower_components/angular-chart.js/dist/angular-chart.css" />
    <link rel="stylesheet" type="text/css" href="css/custom.css" />

    <script type="text/javascript" src="/bower_components/angularjs/angular.min.js"></script>
    <script type="text/javascript" src="/bower_components/Chart.js/Chart.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-chart.js/dist/angular-chart.js"></script>
    <script type="text/javascript" src="/js/commons-util-js/PrimitiveExtensions.js"></script>

    <script type="text/javascript" src="/js/commons-util-js/angularjs/filters.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
    <script type="text/javascript" src="js/directives.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</head>

<body ng-controller="SearchController as searchCtrl">
    <div id="wrap"> <!-- to flush the footer -->
        <header>
            <div class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-default-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">HardwareZone Uncovered</a>
                </div>
                <div class="navbar-collapse collapse navbar-default-collapse">
                    <form class="navbar-form navbar-left" style="width: 50%" name="queryForm" ng-submit="searchCtrl.searchQuery()" novalidate>
                        <div class="input-group">
                            <input type="text" autofocus="autofocus" autocomplete="off" placeholder="Search Here" name="search" style="" class="form-control" ng-model="searchCtrl.query.str">
                            <span class="input-group-btn" style="width: 1%;">
                                <button class="btn btn-sm btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </div>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">version 3.0.0</a></li>
                    </ul>
                </div>
            </div>
        </header>

        <section class="container-fluid">
            <div class="row-fluid">
                <div class="col-md-4">
                    <post-hits></post-hits>
                </div>
                <div class="col-md-4">
                    <h3>Charts</h3>
                    <div>
                        <h3 ng-show="searchCtrl.debug">Query: {{ searchCtrl.query.str }}</h3>

                        <div ng-controller="BarController as barCtrl">
                            <canvas class="chart chart-bar" data="barCtrl.data" labels="barCtrl.labels" options="barCtrl.options"></canvas>
                        </div>
                        <div ng-controller="BarController as barCtrl">
                            <canvas class="chart chart-bar" data="barCtrl.data" labels="barCtrl.labels" options="barCtrl.options"></canvas>
                        </div>
                        <div ng-controller="BarController as barCtrl">
                            <canvas class="chart chart-bar" data="barCtrl.data" labels="barCtrl.labels" options="barCtrl.options"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <co-occurrence-table></co-occurrence-table>
                </div>
            </div>
            <hr>

            <!--<div class="row-fluid">-->
                <!--<div class="span2">-->
                    <!--<div ng-repeat="entry in searchCtrl.results.facets.tags.terms">-->
                        <!--<a ng-click="filter('Tags', entry.term)">-->
                            <!--<i class="icon-remove-sign" ng-show="isActive('Tags', entry.term)"></i> {{ entry.term }}-->
                        <!--</a> {{ entry.count }}-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="span3">-->
                    <!--<bar bind="results.facets.tags.terms" on-click="filter" field="Tags" />-->
                <!--</div>-->
                <!--<div class="span4">-->
                    <!--<li ng-repeat="doc in searchCtrl.results.hits.hits">-->
                        <!--{{ doc._source.Title }}-->
                    <!--</li>-->
                <!--</div>-->
            <!--</div>-->
        </section>


        <!--<div class="list-group">-->
            <!--&lt;!&ndash;  Product Container  &ndash;&gt;-->
            <!--<div class="list-group-item" ng-repeat="product in store.products">-->
                <!--<h3>{{product.name}} <em class="pull-right">{{product.price | currency}}</em></h3>-->
                <!--&lt;!&ndash; Image Gallery  &ndash;&gt;-->
                <!--<product-gallery></product-gallery>-->
                <!--&lt;!&ndash; Product Tabs  &ndash;&gt;-->
                <!--<product-tabs></product-tabs>-->
            <!--</div>-->
        <!--</div>-->
    </div>
    <footer class="container-fluid">
        <div id="footer_end" class="row">
            <hr>
            <div class="col-md-4">
                <span>2015, Nanyang Technological University © All Rights Reserved.</span>
            </div>
            <div class="col-md-4">
                <span>HardwareZone Uncovered</span>
            </div>
            <div class="col-md-4">
                <span>Developed by LI Jun, <a href="https://github.com/zhangdanyangg">ZHANG Danyang</a></span>
            </div>
        </div>
    </footer>
</body>
</html>
