<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
    <clutoSettings>
        <docsMat>/Users/Daniel/programming/java/DocumentMiner-data/data/cluto/docs.mat</docsMat>
        <OUTPUT>/Users/Daniel/programming/java/DocumentMiner-data/data/cluto/docs-output.txt</OUTPUT>
        <rootFolder>/Users/Daniel/programming/java/DocumentMiner-data/data/cluto/</rootFolder>
        <VCLUSTER>/Users/Daniel/programming/java/DocumentMiner-data/cluto/cluto-2.1.2/MSWIN-Darwin-i386/vcluster</VCLUSTER>
    </clutoSettings>
    <colloTopK>500</colloTopK>
    <contentsPath>/Users/Daniel/programming/java/DocumentMiner-data/data/contents.txt</contentsPath>
    <dataFolder>/Users/Daniel/programming/java/DocumentMiner-data/data/</dataFolder>
    <displayTopK>10</displayTopK>
    <driverSettings>
        <clusteredIndexPath>/Users/Daniel/programming/java/DocumentMiner-data/data/expr/rakeIndex-post-clustered-9152.ser</clusteredIndexPath>
        <rootFolder>/Users/Daniel/programming/java/DocumentMiner-data/data/expr/</rootFolder>
    </driverSettings>
    <forumsPath>/Users/Daniel/programming/java/DocumentMiner-data/data/forums.txt</forumsPath>
    <indexPath>/Users/Daniel/programming/java/DocumentMiner-data/data/postindex</indexPath>
    <malletSettings>
        <keysPath>/Users/Daniel/programming/java/DocumentMiner-data/data/mallet/50_keys.txt</keysPath>
        <oac69Folder>/Users/Daniel/programming/java/DocumentMiner-data/data/mallet/69_OAC/</oac69Folder>
        <postsFolder>/Users/Daniel/programming/java/DocumentMiner-data/data/mallet/posts/</postsFolder>
        <postsMalletPath>/Users/Daniel/programming/java/DocumentMiner-data/data/mallet/posts.mallet</postsMalletPath>
        <postsPath>/Users/Daniel/programming/java/DocumentMiner-data/data/mallet/posts.csv</postsPath>
        <rootFolder>/Users/Daniel/programming/java/DocumentMiner-data/data/mallet/</rootFolder>
        <topicCnt>50</topicCnt>
        <topicsPath>/Users/Daniel/programming/java/DocumentMiner-data/data/mallet/50_topics.txt</topicsPath>
    </malletSettings>
    <postindexPath>/Users/Daniel/programming/java/DocumentMiner-data/data/postindex</postindexPath>
    <postsPath>/Users/Daniel/programming/java/DocumentMiner-data/data/posts.txt</postsPath>
    <rakeSettings>
        <basicIndexPath>/Users/Daniel/programming/java/DocumentMiner-data/data/rake/basic_index.ser</basicIndexPath>
        <clusteredIndexPath>/Users/Daniel/programming/java/DocumentMiner-data/data/rake/clustered_index.ser</clusteredIndexPath>
        <rootFolder>/Users/Daniel/programming/java/DocumentMiner-data/data/rake/</rootFolder>
        <threadedIndexPath>/Users/Daniel/programming/java/DocumentMiner-data/data/rake/threaded_index.ser</threadedIndexPath>
        <topPercent>0.75</topPercent>
    </rakeSettings>
    <rawHtmlFolder>/Users/Daniel/programming/java/DocumentMiner-data/html/</rawHtmlFolder>
    <slopSize>3</slopSize>
    <sortedPostsPath>/Users/Daniel/programming/java/DocumentMiner-data/data/posts_sorted.txt</sortedPostsPath>
    <taxoindexPath>/Users/Daniel/programming/java/DocumentMiner-data/data/taxoindex</taxoindexPath>
    <thindexPath>/Users/Daniel/programming/java/DocumentMiner-data/data/thindex</thindexPath>
    <threadsPath>/Users/Daniel/programming/java/DocumentMiner-data/data/threads.txt</threadsPath>
    <topicSettings>
        <rootFolder>/Users/Daniel/programming/java/DocumentMiner-data/data/topic/</rootFolder>
        <termsPath>/Users/Daniel/programming/java/DocumentMiner-data/data/topic/terms.json</termsPath>
    </topicSettings>
</settings>